In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import MinMaxScaler

In [2]:
data = pd.read_csv('GOOGl.csv',date_parser = True)
data.shape
data.head()

         Date       Open       High        Low      Close  Adj Close    Volume
0  2004-08-19  49.813286  51.835709  47.800831  49.982655  49.982655  44871300
1  2004-08-20  50.316402  54.336334  50.062355  53.952770  53.952770  22942800
2  2004-08-23  55.168217  56.528118  54.321388  54.495735  54.495735  18342800
3  2004-08-24  55.412300  55.591629  51.591621  52.239193  52.239193  15319700
4  2004-08-25  52.284027  53.798351  51.746044  52.802086  52.802086   9232100

In [3]:
# Data preprocessing

data_train = data[data['Date']<'2019-01-01']
data_train

,Date,Open,High,Low,Close,Adj Close,Volume
0,2004-08-19,49.813286,51.835709,47.800831,49.982655,49.982655,44871300
1,2004-08-20,50.316402,54.336334,50.062355,53.952770,53.952770,22942800
2,2004-08-23,55.168217,56.528118,54.321388,54.495735,54.495735,18342800
3,2004-08-24,55.412300,55.591629,51.591621,52.239193,52.239193,15319700
4,2004-08-25,52.284027,53.798351,51.746044,52.802086,52.802086,9232100
...,...,...,...,...,...,...,...
3612,2018-12-24,973.900024,1003.539978,970.109985,976.219971,976.219971,1590300
3613,2018-12-26,989.010010,1040.000000,983.000000,1039.459961,1039.459961,2373300
3614,2018-12-27,1017.150024,1043.890015,997.000000,1043.880005,1043.880005,2109800
3615,2018-12-28,1049.619995,1055.560059,1033.099976,1037.079956,1037.079956,1414800
3616,2018-12-31,1050.959961,1052.699951,1023.590027,1035.609985,1035.609985,1493300

In [4]:
data_test = data[data['Date']>='2019-01-01']
data_test

,Date,Open,High,Low,Close,Adj Close,Volume
3617,2019-01-02,1016.570007,1052.319946,1015.710022,1045.849976,1045.849976,1532600
3618,2019-01-03,1041.000000,1056.979980,1014.070007,1016.059998,1016.059998,1841100
3619,2019-01-04,1032.589966,1070.839966,1027.417969,1070.709961,1070.709961,2093900
3620,2019-01-07,1071.500000,1074.000000,1054.760010,1068.390015,1068.390015,1981900
3621,2019-01-08,1076.109985,1084.560059,1060.530029,1076.280029,1076.280029,1764900
...,...,...,...,...,...,...,...
3938,2020-04-13,1209.180054,1220.510010,1187.598022,1217.560059,1217.560059,1739800
3939,2020-04-14,1245.089966,1282.069946,1236.930054,1269.229980,1269.229980,2470400
3940,2020-04-15,1245.609985,1280.459961,1240.400024,1262.469971,1262.469971,1671700
3941,2020-04-16,1274.099976,1279.000000,1242.619995,1263.469971,1263.469971,2507100
3942,2020-04-17,1284.849976,1294.430054,1271.229980,1283.250000,1283.250000,1947900

In [5]:
training_data = data_train.drop(['Date','Adj Close'], axis =1)
training_data.head()

        Open       High        Low      Close    Volume
0  49.813286  51.835709  47.800831  49.982655  44871300
1  50.316402  54.336334  50.062355  53.952770  22942800
2  55.168217  56.528118  54.321388  54.495735  18342800
3  55.412300  55.591629  51.591621  52.239193  15319700
4  52.284027  53.798351  51.746044  52.802086   9232100

In [6]:
scaler = MinMaxScaler()
training_data = scaler.fit_transform(training_data)
training_data

array([[3.30294890e-04, 9.44785459e-04, 0.00000000e+00, 1.34908021e-04,
        5.43577404e-01],
       [7.42148227e-04, 2.98909923e-03, 1.88269054e-03, 3.39307537e-03,
        2.77885613e-01],
       [4.71386886e-03, 4.78092896e-03, 5.42828241e-03, 3.83867225e-03,
        2.22150736e-01],
       ...,
       [7.92197108e-01, 8.11970141e-01, 7.90196475e-01, 8.15799920e-01,
        2.54672037e-02],
       [8.18777193e-01, 8.21510648e-01, 8.20249255e-01, 8.10219301e-01,
        1.70463908e-02],
       [8.19874096e-01, 8.19172449e-01, 8.12332341e-01, 8.09012935e-01,
        1.79975186e-02]])

In [7]:
X_train = []
y_train = []

for i in range(60,training_data.shape[0]):
    X_train.append(training_data[i-60:i])
    y_train.append(training_data[i,0])

In [8]:
X_train, y_train = np.array(X_train), np.array(y_train)

In [9]:
X_train.shape, y_train.shape
X_train[1]

array([[7.42148227e-04, 2.98909923e-03, 1.88269054e-03, 3.39307537e-03,
        2.77885613e-01],
       [4.71386886e-03, 4.78092896e-03, 5.42828241e-03, 3.83867225e-03,
        2.22150736e-01],
       [4.91367646e-03, 4.01532941e-03, 3.15578542e-03, 1.98678849e-03,
        1.85522018e-01],
       [2.35285614e-03, 2.54928676e-03, 3.28434064e-03, 2.44873974e-03,
        1.11762967e-01],
       [2.34877785e-03, 2.52892558e-03, 3.60779701e-03, 3.22955376e-03,
        8.62763771e-02],
       [3.63326671e-03, 2.80177162e-03, 4.03492722e-03, 2.51005881e-03,
        7.55243925e-02],
       [2.48334262e-03, 1.52712947e-03, 2.50886935e-03, 8.17608079e-04,
        6.31682127e-02],
       [1.26817570e-03, 8.02253103e-04, 2.57107531e-03, 9.64778600e-04,
        5.97732318e-02],
       [1.43128522e-03, 5.00900100e-04, 1.53849690e-03, 9.81131336e-05,
        1.11151095e-01],
       [0.00000000e+00, 2.56557750e-04, 1.23577446e-03, 6.13207085e-04,
        1.83955383e-01],
       [7.17681757e-04, 0.00000000e+00, 1.39335520e-03, 0.00000000e+00,
        6.26278267e-02],
       [7.42148227e-04, 1.05882884e-04, 1.51361551e-03, 6.41823963e-04,
        7.10898349e-02],
       [6.32050749e-04, 5.25334172e-04, 1.88269054e-03, 9.36161722e-04,
        6.05971386e-02],
       [1.36196410e-03, 3.95017216e-04, 2.09003404e-03, 9.40250316e-04,
        4.93495982e-02],
       [9.82736274e-04, 1.96286905e-03, 2.21444181e-03, 2.17483839e-03,
        1.05802970e-01],
       [3.03383983e-03, 2.71625319e-03, 4.35423947e-03, 3.06194683e-03,
        9.53962992e-02],
       [3.36821219e-03, 4.17822295e-03, 4.49108626e-03, 4.69307521e-03,
        1.31733015e-01],
       [4.63639034e-03, 5.08635485e-03, 5.90517540e-03, 4.90156480e-03,
        1.30322681e-01],
       [5.36222868e-03, 5.72571360e-03, 6.50647615e-03, 5.70691038e-03,
        1.12709248e-01],
       [6.21040019e-03, 6.41393804e-03, 7.29438647e-03, 7.14590027e-03,
        1.15219741e-01],
       [7.24206858e-03, 8.08766948e-03, 8.62968732e-03, 7.91036647e-03,
        1.29296432e-01],
       [8.40830256e-03, 7.60713465e-03, 8.93655721e-03, 7.28898220e-03,
        8.79048048e-02],
       [7.42556711e-03, 7.30170876e-03, 8.64627380e-03, 7.50973757e-03,
        9.21951787e-02],
       [8.01276157e-03, 8.50712077e-03, 8.73335782e-03, 8.50721918e-03,
        1.03814689e-01],
       [8.86908638e-03, 9.10575715e-03, 9.86960923e-03, 8.10250168e-03,
        1.10970562e-01],
       [8.30635839e-03, 7.79446226e-03, 9.05681752e-03, 7.46068100e-03,
        8.59250051e-02],
       [9.01588602e-03, 1.04496286e-02, 1.00562188e-02, 1.09763986e-02,
        2.05994892e-01],
       [1.12178642e-02, 1.35527557e-02, 1.25526491e-02, 1.27015524e-02,
        3.71406312e-01],
       [1.25227405e-02, 1.24450743e-02, 1.37013371e-02, 1.20965225e-02,
        1.67391220e-01],
       [1.28897367e-02, 1.32351079e-02, 1.36598692e-02, 1.33147594e-02,
        1.84031716e-01],
       [1.47043370e-02, 1.43061333e-02, 1.57872245e-02, 1.43285913e-02,
        1.58440926e-01],
       [1.44637490e-02, 1.49821456e-02, 1.50449328e-02, 1.56817330e-02,
        1.82183983e-01],
       [1.56422178e-02, 1.49495682e-02, 1.66041637e-02, 1.51543807e-02,
        1.62806421e-01],
       [1.53853166e-02, 1.55319098e-02, 1.68322411e-02, 1.58779610e-02,
        1.71738540e-01],
       [1.61193083e-02, 1.54504651e-02, 1.70271464e-02, 1.54201008e-02,
        1.34661520e-01],
       [1.54179372e-02, 1.51165322e-02, 1.57125828e-02, 1.44103509e-02,
        1.27389330e-01],
       [1.43740397e-02, 1.46074896e-02, 1.55259733e-02, 1.52851968e-02,
        1.41916747e-01],
       [1.79950707e-02, 1.70264594e-02, 1.82960938e-02, 1.67160087e-02,
        2.40533552e-01],
       [1.70531108e-02, 1.65499942e-02, 1.76657709e-02, 1.71656975e-02,
        1.27024630e-01],
       [1.86515871e-02, 1.78205667e-02, 1.90715651e-02, 1.80282711e-02,
        1.60534619e-01],
       [1.79461369e-02, 1.93273342e-02, 1.87646986e-02, 2.00927330e-02,
        1.70780143e-01],
       [2.09228864e-02, 2.06304833e-02, 2.13108883e-02, 1.95939942e-02,
        2.20370855e-01],
       [1.99156870e-02, 1.92418166e-02, 1.80970477e-02, 1.65484018e-02,
        2.76526166e-01],
       [1.84354688e-02, 1.97060631e-02, 1.89347183e-02, 2.01826698e-02,
        3.54768240e-01],
       [2.90946858e-02, 3.19393781e-02, 2.82486430e-02, 2.96056110e-02,
        8.97238216e-01],
       [3.14842367e-02, 3.77465332e-02, 3.17610611e-02, 3.57254103e-02,
        7.96839106e-01],
       [3.55375166e-02, 3.70175872e-02, 3.48504980e-02, 3.34361069e-02,
        5.42488150e-01],
       [3.40613702e-02, 3.57470147e-02, 3.55845006e-02, 3.51408234e-02,
        3.24779241e-01],
       [3.56761589e-02, 3.77302425e-02, 3.71727578e-02, 3.81373584e-02,
        3.61027509e-01],
       [4.06550790e-02, 3.99944670e-02, 3.92462021e-02, 3.70499376e-02,
        5.14647368e-01],
       [3.84775672e-02, 3.90659739e-02, 3.95240498e-02, 3.92533937e-02,
        2.97253482e-01],
       [4.06102235e-02, 3.97094022e-02, 4.03824568e-02, 3.87791799e-02,
        2.75882792e-01],
       [4.03655580e-02, 4.06663998e-02, 3.93084080e-02, 3.74710062e-02,
        3.37723061e-01],
       [3.63938373e-02, 3.61053792e-02, 3.62397083e-02, 3.46216408e-02,
        3.50394264e-01],
       [3.37596209e-02, 3.28067844e-02, 3.01023047e-02, 2.83464946e-02,
        4.82311446e-01],
       [2.92537137e-02, 3.00131586e-02, 3.04547932e-02, 2.96546675e-02,
        2.72125534e-01],
       [3.05463616e-02, 2.99154223e-02, 2.87421258e-02, 2.80807737e-02,
        2.69022556e-01],
       [2.91476913e-02, 2.88240316e-02, 2.91816917e-02, 2.77373761e-02,
        2.58801264e-01],
       [2.85197221e-02, 3.33972717e-02, 2.96959051e-02, 3.39348522e-02,
        3.64400680e-01],
       [3.50848828e-02, 3.58610368e-02, 3.37723068e-02, 3.35178722e-02,
        4.07224452e-01]])

### Building LSTM

In [10]:
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense, LSTM, Dropout

In [11]:
regressor = Sequential()
regressor.add(LSTM(units = 60,activation = 'relu', return_sequences = True, input_shape= (X_train.shape[1],5)))
regressor.add(Dropout(0.2))

regressor.add(LSTM(units = 70,activation = 'relu', return_sequences = True))
regressor.add(Dropout(0.3))

regressor.add(LSTM(units = 80,activation = 'relu', return_sequences = True))
regressor.add(Dropout(0.4))

regressor.add(LSTM(units = 180,activation = 'relu'))
regressor.add(Dropout(0.5))

regressor.add(Dense(units = 1))

In [14]:
regressor.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
lstm (LSTM)                  (None, 60, 60)            15840
_________________________________________________________________
dropout (Dropout)            (None, 60, 60)            0
_________________________________________________________________
lstm_1 (LSTM)                (None, 60, 70)            36680
_________________________________________________________________
dropout_1 (Dropout)          (None, 60, 70)            0
_________________________________________________________________
lstm_2 (LSTM)                (None, 60, 80)            48320
_________________________________________________________________
dropout_2 (Dropout)          (None, 60, 80)            0
_________________________________________________________________
lstm_3 (LSTM)                (None, 180)               187920
_________________________________________________________________
dropout_3 (Dropout)          (None, 180)               0
_________________________________________________________________
dense (Dense)                (None, 1)                 181
=================================================================
Total params: 288,941
Trainable params: 288,941
Non-trainable params: 0
_________________________________________________________________

In [15]:
regressor.compile(optimizer = 'adam', loss = 'mean_squared_error')

In [ ]:
regressor.fit(X_train, y_train, epochs = 10, batch_size= 32)

Train on 3557 samples
Epoch 1/10
3557/3557 [==============================] - 115s 32ms/sample - loss: 0.0140
Epoch 2/10
3557/3557 [==============================] - 76s 21ms/sample - loss: 0.0039
Epoch 3/10
3557/3557 [==============================] - 72s 20ms/sample - loss: 0.0032
Epoch 4/10
3557/3557 [==============================] - 77s 22ms/sample - loss: 0.0033
Epoch 5/10
3557/3557 [==============================] - 70s 20ms/sample - loss: 0.0034
Epoch 6/10
3557/3557 [==============================] - 72s 20ms/sample - loss: 0.0025
Epoch 7/10
2560/3557 [====================>.........] - ETA: 18s - loss: 0.0031

### Preparing test dataset

In [ ]:
past_60_days = data_train.tail(60)

In [ ]:
df = past_60_days.append(data_test, ignore_index = True)
df